body{
    background-color: dimgrey;
}
h1{
    text-align: center;
    color:antiquewhite;
}
.row{
    margin: 25px 25px;
}
.card{
    text-align: center;
    margin: 10px 10px;
}
.list-group-item{
    background-color: rgb(146, 147, 147);
    color:aliceblue;
}
